<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>ONLINE IDE</h1>
         <script>console.log("1")</script>
        
        <form action="compilecode" method="post" name="myform" id="myform">
            <h3>Code</h3>
            <textarea cols="100" rows="25" id="code" name="code" spellcheck="false"></textarea>
            <br>
            <h3>Input</h3>
            <textarea  cols="100" rows="10" id="input" name="input" spellcheck="false"></textarea>
            <br>
            Language:
            <select name="lang" id="">
                <option value="C">C</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
            </select>
         <script>console.log("2")</script>
            Complie With Input:
            <input type="radio" name="inputRadio" id="inputRadio" value="true">Yes
            <input type="radio" name="inputRadio" id="inputRadio" value="false">No
             <br>
             <br>
             <script>console.log("3")</script>
             <input type="submit" value="Submit" name="Submit">
          
        </form>
<script>console.log("4")</script>

    </center>
</body>

</html>